.titulo{
    padding-left: 40%;
    font-size: 50px;
}

.sectiontitulo{
    padding: 20px;
}

/* Estilos para el footer */
.footer {
    background-color: #333; /* Color de fondo */
    color: white; /* Color de texto */
    padding: 20px 0; /* Espaciado interno */
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido */
    padding: 0 20px;
  }
  
  .footer p {
    margin: 0;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
  }
  
  .social-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .social-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .social-links a:hover {
    color: #f0f0f0; /* Color al pasar el ratón */
  }
  
  .main{
    background-color: burlywood;
  }
  
  .img{
    max-width: 40%;
  }

  .articles-container {
    display: flex; /* Hace que los artículos se alineen uno al lado del otro */
    gap: 20px; /* Espaciado entre los artículos */
  }
  
  .article {
    display: flex; /* Hace que la imagen y la descripción estén alineadas en una fila */
    align-items: flex-start; /* Alinea la descripción al inicio, junto a la imagen */
    gap: 20px; /* Espacio entre la imagen y la descripción */
    border: 1px solid #ddd;
    padding: 10px;
  }
  .article-image-container {
    display: flex;
    flex-direction: column; /* Coloca el título encima de la imagen */
    align-items: center; /* Centra el título y la imagen horizontalmente */
  }


  .article-title {
    text-align: center;
    margin-bottom: 10px; /* Espaciado entre el título y la imagen */
  }
  

  .article-description {
    flex: 1; /* La descripción ocupa el espacio restante a la derecha */
    max-width: 200px; /* Limita el ancho máximo de la descripción */
    align-self: flex-start; /* Alinea la descripción en la parte superior */
    text-align: justify; /* Justifica el texto para una mejor apariencia */
  }
  .article-image {
    width: 350px; /* Define un ancho fijo para la imagen */
    height: auto; /* Mantiene las proporciones de la imagen */
  }